@import "tailwindcss";

@theme {
  --font-montserrat: var(--font-montserrat);
  --color-green: #1dab79;
  --color-light-green: #bbe6d5;
  /* --color-light-green: #E6FDEC; */
  --color-medium-green: #94e4ac;
}
